<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Vista Previa de Boleta</title>
    <link rel="stylesheet" th:href="@{/css/estilos-boleto.css}" />
    <style>
      /* Estilos para alinear los botones */
      .button-container {
        display: flex;
        justify-content: center;
        gap: 15px; /* Espacio entre los botones */
        margin-top: 20px;
      }
      .button-container form,
      .button-container a {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <h2>Vista Previa del Boleto</h2>

    <p>
      <strong>Nombre:</strong> <span th:text="${ticket.nombreCompleto}"></span>
    </p>
    <p>
      <strong>Asiento:</strong> <span th:text="${ticket.numeroAsiento}"></span>
    </p>
    <p><strong>Clase:</strong> <span th:text="${ticket.claseBoleto}"></span></p>
    <p>
      <strong>Aerolínea:</strong> <span th:text="${ticket.aerolinea}"></span>
    </p>
    <p>
      <strong>Fecha y Hora:</strong>
      <span th:text="${ticket.fechaHoraVuelo}"></span>
    </p>
    <p>
      <strong>Origen:</strong> <span th:text="${ticket.puntoOrigen}"></span>
    </p>
    <p>
      <strong>Destino:</strong> <span th:text="${ticket.puntoDestino}"></span>
    </p>
    <p>
      <strong>ID Boleto:</strong>
      <span th:text="${ticket.identificadorBoleto}"></span>
    </p>

    <div class="button-container">
      <!-- Botón para Cancelar Compra -->
      <a th:href="@{/}"><button type="button">Cancelar Compra</button></a>

      <!-- Botón para Finalizar Compra -->
      <form th:action="@{/download}" method="get">
        <button type="submit">Finalizar Compra</button>
      </form>
    </div>
  </body>
</html>
